<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title color="primary">WELCOME</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="name" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

  </ion-list>
  
    <ion-button (click)="homepage()" size="default" expand="block" fill="solid" color="primary" >LOGIN</ion-button>
    <ion-button routerLink="/register" size="default" expand="block" fill="solid" color="primary">SIGNUP</ion-button>
</ion-content>