<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>TABLES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
  <ion-grid>

    <ion-row>
      <div style="border:2px solid black">MONDAY</div>
      <ion-col *ngFor="let item of todos">
        <div  style="border:2px solid blue;">
           <ion-label *ngIf="item.day == 'MONDAY'; else elseBlock">
              {{ item.title }} <br />
              {{ item.start_time }} - {{ item.end_time }} <br />
           </ion-label>
           <ng-template #elseBlock>
              <p></p>
           </ng-template>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <div style="border:2px solid black">TUESDAY</div>
      <ion-col *ngFor="let item of todos">
        <div style="border:2px solid blue;">
           <ion-label *ngIf="item.day == 'TUESDAY'; else elseBlock">
              {{ item.title }} <br />
              {{ item.start_time }} - {{ item.end_time }} <br />
           </ion-label>
           <ng-template #elseBlock>
              <p></p>
           </ng-template>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <div style="border:2px solid black">WEDNESDAY</div>
        <ion-col *ngFor="let item of todos">
          <div style="border:2px solid blue;">
             <ion-label *ngIf="item.day == 'WEDNESDAY'; else elseBlock">
                {{ item.title }} <br />
                {{ item.start_time }} - {{ item.end_time }} <br />
             </ion-label>
             <ng-template #elseBlock>
                <p></p>
             </ng-template>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <div style="border:2px solid black">THURSDAY</div>
          <ion-col *ngFor="let item of todos">
            <div style="border:2px solid blue;">
               <ion-label *ngIf="item.day == 'THURSDAY'; else elseBlock">
                  {{ item.title }} <br />
                  {{ item.start_time }} - {{ item.end_time }} <br />
               </ion-label>
               <ng-template #elseBlock>
                  <p></p>
               </ng-template>
            </div>
          </ion-col>
        </ion-row>
  </ion-grid>

  <ion-button routerLink="/home" size="default" expand="block" fill="solid" color="primary">HOME</ion-button>

</ion-content>