// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
ion-content {
  --ion-background-color: var(--ion-color-secondary);
  --ion-header-color: var(--ion-color-primary);
}
:root {
  --ion-color-primary: #5da3e6;
  --ion-color-primary-rgb: 241,0,144;
  --ion-color-primary-contrast: #001f75;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #cc923a;
  --ion-color-primary-tint: #f21a9b;

  --ion-color-secondary: #def323;
  --ion-color-secondary-rgb: 218,1,132;
  --ion-color-secondary-contrast: #8177dd;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #c00174;
  --ion-color-secondary-tint: #de1a90;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #76da58;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #0a662f;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #d66363;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #49d399;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #a75252;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #0b0d11;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #5a7be9;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0e1929;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #426a85;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #a3b6f1;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #a1f88b;
  --ion-color-light-tint: #eeb468;
}
